* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
}

body{
    background-image: url('matrix.gif');     
    height: 100vh;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.rice {
    background-color: black;
    width: fit-content;
    display: table;
    font-size: x-small;
    cursor: default;
}

.time {
    font-size: 4em;
    width: fit-content;
    display: table;
    margin: 10px 0px;
    cursor: default;
}

.date {
    margin-bottom: 10px;
    width: fit-content;
    display: table;
    cursor: default;
}

.greeting {
    font-size: initial;
    background-color: rgba(0, 0, 0, 0.514);
    width: fit-content;
    display: table;
    margin-top: 2em;
    cursor: default;
}


.name {
    display: inline-block;
    position: relative;
    min-width: 30px;
    padding: 5px;
    min-width: 20px;
    min-height: 10px;
}

.name:focus {
    border: none;
    outline: none;    
    display: inline-block;
    position: relative;
    min-width: 30px;
    caret-color:ghostwhite;
    background-color: rgba(0, 128, 0, 0.418);
}

.name:hover {
    cursor: text;
    background-color: rgba(0, 128, 0, 0.418);
}
